@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

/* CSS Document */

* {
	box-sizing: border-box;
}
body,td,th,p{
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
.card {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	margin: 15px;
	text-align: left;
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
							0 1px 5px 0 rgba(0,0,0,0.12),
							0 3px 1px -2px rgba(0,0,0,0.2);
}
ul, li {
	font-size: 10pt;
	color: #333;
}
a {
	color: #02b3e4;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
	display: flex;
	flex-wrap: wrap;

  background-color: #f3f3f3;
  min-height: 100%;
}
#main-section {
	width: 100%;
}
#footer {
  background-color: #252831;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#second-footer {
	display: none;
	background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */

.header-of-the-header {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;

}
nav h1 {
	display: table-cell;
	width: 80%;
	margin: auto;
	height: 80px;
  vertical-align: middle;
}
nav h1 a {
	padding-top: 15px;
	padding-bottom: 15px;
  color: #fff;
  font-size: 0.85em;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
nav h1 a:focus {
	outline: 0;
	border-radius: 7px;
  box-shadow: 0px 0px 13px 4px #3397db;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0d47a1;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #0d47a1;
    text-decoration: underline;
}

/* A div that makes sure that the <main> is not behind the <header> */

#header-spacer {
	width: 100%;
	height: 131px;
}
/* ====================== Map ====================== */
#map-container {
	position: relative;
	order: -1;
	width: 100%;
}

#map {
	position: relative;
  overflow: hidden;
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
#reviews-container {
	width: 100%;
}

.filter-options {
  width: 100%;
	padding: 20px 5% 20px 5%;
  background-color: #1976d2;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin-top: 15px;
  padding: 0 10px;
  width: 90%;
}
  .filter-options select:focus {
	outline: 0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 5% 60px;
  text-align: center;
}
#restaurants-list li{
	justify-content: space-between;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
	border-radius: 2px 2px 0 0;
}

.card > .content {
	flex-grow: 1;
	width: 100%;
	padding: 24px;
}

#restaurants-list li h2 {
  color: #1976d2;
  font-family: Arial,sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.3;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.15em;
}

#restaurants-list .card-action {
	width: 100%;
	padding: 16px 24px;
}

#restaurants-list li a {
  background-color: #fff;
  border-bottom: 3px solid #eee;
  color: #1976d2;
  display: inline-block;
  font-size: 1em;
	font-weight: 500;
  padding: 8px 30px 10px;
	border: 1px solid #1976d2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
	border-radius: 2px;
}
#restaurants-list li a:hover,
#restaurants-list li a:focus {
	outline: 0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #footer {
  width: 100%;
}
#restaurant-name {
	display:inline-block;
	width: 60%;
  color: #1976d2;
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 0;
  margin: 15px 0 5px;
	margin-bottom: 20px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
  font-size: 1.18em;
  margin: 10px 0px;
}
#restaurant-cuisine {
	display: inline-block;
	float: right;
	margin-top: 17px;
	color: #0069a9;
	font-size: 1.1em;
	text-transform: uppercase;
}
#restaurant-container {
	display: flex;
	flex-wrap: wrap;
}
#restaurant-container, #reviews-container {
	margin-top: 30px;
  padding: 0px 2% 0px 2%;
  width: 100%;
}
#reviews-container {
  padding: 0px 2%;
}
#main-restaurant-info {
	width: 100%;
}
#reviews-container h2 {
  color: #333;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
	margin-bottom: 0px;
  padding-bottom: 1pt;
}
#reviews-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
  margin: 0;
  padding: 0;
}
#reviews-list li {
	display: block;
  padding: 30px 5%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
.rating {
	font-size: 1.1em;
}
.comments {
	font-size: 1em;
}

#restaurant-hours {
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,.125);
}

#restaurant-hours .left {

}

#restaurant-hours .right > span {
	display: block;
	width: 145px;
}

#restaurant-hours tr {
	margin-top: 10px;

}

#restaurant-hours td {
	border-top: 1px solid #dee2e6;
  color: #666;
}

#restaurant-hours td, th {
	padding: .75rem;
	font-size: 1em;
	text-align: left;
	border-top: 1px solid #dee2e6;
}
.username {
	color: #494949;
  font-weight: 500;
  font-size: 1.75em;
  display: inline-block;
  white-space: nowrap;
  max-width: 30%;
  text-align: left;
  vertical-align: top;
}
.date {
	color: #757575;
  font-weight: 100;
  font-size: 1.2em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  text-align: left;
  vertical-align: top;
  line-height: 38px;
}
.rating {
	font-size: 25px;
	color: #373737;
}

/* Skip links */


#skip-link {
	position: absolute;
	top: -100%;
	left: -100%;
	background: #fff;
	border-radius: 5px;
	padding: 10px;
	z-index: 2;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	text-transform: uppercase;
	color: #1976d2;
}

#skip-link:focus {
	top: 50%;
	left: 50%;
}
